body{
    background-color:#a6a6a6;
    margin: 20px;
    text-align: center;
}

form{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #2c598f;
    color: #fff;
}
.card{
    margin-bottom: 20px;
}
select, input{
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frase-icon{
    width:80px;
    margin: 0 10px;
}
.editing{
    background-color:  #d1c8de ;
}
#mi-frase-div{
    margin-top: 5px;
    padding: 5px auto;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.circle-btn {
    border: 2px solid #999;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    background: linear-gradient(to bottom, #444, #e6e6e6);
    margin: 30px auto;
  }
  .circle-btn:hover {
    border: 2px solid #444;
    background: linear-gradient(to bottom, #e6e6e6, #444);
    color: #e6e6e6;
    box-shadow: 5px 5px 50px #fff;
  }
  .border{
    height: 10px;
    background: linear-gradient( #b482ee, #ffc0e0, #ffc400);
    margin: 30px 0;
  }