body{
    background-color:lightgray;
    margin: 20px;
    text-align: center;
}

form{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(44, 89, 143);
    color: #fff;
}

select, input{
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frase-icon{
    width:80px;
    margin: 0 10px;
}
.editing{
    background-color:  #d1c8de ;
}
#mi-frase-div{
    background-color:palevioletred;
    margin-top: 5px;
    padding: 5px auto;
    font-size: 20px;
    border-radius: 10px;
}
.circle-btn{
    width: 100px;
    height: 100px;
    font-size: 14px;
    border-radius: 50%;
}